h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 600;
  color: #6b6b6b;
}
span {
  color: #ff5c36;
}
p {
  font-size: 16px;
  color: #7b7b7b;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  line-height: 1.5rem;
}
main {
  padding-top: 80px;
  background-color: #f5f5f5;
  position: relative;
}
main .logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 39px;
  text-transform: capitalize;
  font-weight: 600;
  color: #6b6b6b;
  border: 3px solid #6b6b6b;
  display: inline;
  padding: 0 20px;
}
main .menu {
  cursor: pointer;
}
main .slogan {
  margin-top: 140px;
  margin-bottom: 110px;
}
main .slogan h2 {
  margin-bottom: 40px;
}
main .form {
  background-color: #ffffff;
  padding: 25px 35px;
  margin-bottom: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
main .form h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #6b6b6b;
  margin-bottom: 45px;
}
main .form .input {
  border: none;
  border-bottom: 1px solid #6b6b6b;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
main .form .input:focus {
  outline: none;
}
main .form .input-message {
  padding-bottom: 60px;
  resize: none;
}
main .form-button {
  text-transform: capitalize;
  background: #ff5c36;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 35px 10px 60px;
}
main .form-button .fas {
  padding-left: 15px;
}
main .form-button:hover {
  background: #fd3000;
}
main .thank,
main .sorry {
  background: #ff5c36;
  color: #ffffff;
  position: absolute;
  left: 38%;
  bottom: 20px;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 20px;
  transition: all ease 1s;
}
main .delete {
  display: none;
}
main .hide {
  opacity: 0;
}
@media screen and (min-width: 768px) {

}
