* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}
button:focus {
  outline: none;
}
header {
  padding-top: 50px;
}
header .block-menu {
  display: none;
}
header .block-find {
  display: none;
}
header .third-block {
  display: none;
}
header .logo h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  position: relative;
  left: 10px;
}
header .select-city {
  padding-bottom: 5px;
}
header .select-city p {
  font-size: 12px;
  line-height: 14px;
  margin-left: 8px;
}
header .select-city .city {
  color: #C6A464;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}
header .select-city .city ul {
  padding: 0;
  position: absolute;
  top: -14px;
  left: 76px;
  width: 76px;
  background: #fff;
}
header .select-city .city ul li {
  list-style: none;
  display: none;
}
header .select-city .city ul li.active {
  display: block;
  border-bottom: 1px dotted #C6A464;
}
header .select-city .city i {
  margin-left: 5px;
}
header .contact {
  text-align: center;
}
header .contact p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
header .contact button {
  font-size: 11px;
  line-height: 14px;
  color: #C6A464;
  background: none;
  border: none;
  border-bottom: 1px solid #C6A464;
  padding: 0;
  cursor: pointer;
}
header .contact button:focus {
  outline: none;
}
header .find .logos img {
  width: 20px;
  margin: 0 5px;
}
header .find .input-find {
  width: 76%;
  margin-left: 20px;
}
header .find .input-find input {
  background: #F4F8FB;
  border: none;
  border-radius: 3px;
  height: 30px;
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 10px 15px;
}
header .find .input-find::after {
  content: "";
  position: absolute;
  background: url(../img/find.svg) no-repeat;
  width: 10px;
  height: 10px;
  top: 10px;
  right: 50px;
  z-index: 101;
}
header .menu {
  width: 100%;
}
header .menu ul {
  padding: 0;
}
header .menu ul li {
  display: inline-block;
  padding-right: 10px;
}
header .menu ul li a {
  font-size: 11.8px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}
header .use {
  text-align: center;
}
header .use button {
  background: none;
  border: 2px solid #47708A;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}
header .use .images {
  text-align: center;
}
header .use .images .img {
  margin-right: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
header .use .images .img::after {
  content: '0';
  color: #fff;
  font-size: 10px;
  padding-top: 4px;
  font-weight: bold;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #C6A464;
  border-radius: 50%;
  right: -13px;
}
@media screen and (max-width: 1200px) {
  header .block-menu {
    display: none;
  }
  header .block-find {
    display: none;
  }
  header .select-city p {
    margin-left: 34px;
  }
  header .select-city .city ul {
    left: 100px;
  }
  header .find .input-find {
    width: 58%;
  }
  header .find .input-find::after {
    right: 65px;
  }
  header .menu {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  header .block-menu {
    display: block;
    margin-top: 10px;
    position: relative;
  }
  header .block-menu ul {
    position: absolute;
    padding: 0;
    top: 82px;
    left: 14px;
    font-size: 20px;
    width: 300px;
    font-weight: bold;
    display: none;
  }
  header .block-menu ul li {
    list-style: none;
    margin: 10px 0;
  }
  header .block-menu ul li a {
    color: #000;
    text-decoration: none;
  }
  header .block-menu ul.active {
    display: block;
  }
  header .block-find {
    display: none;
  }
  header .logo img {
    display: none;
  }
  header .second-block {
    display: none;
  }
  header .find {
    margin-top: 10px;
  }
  header .find .input-find {
    width: 58%;
    margin-left: 10px;
  }
  header .find .input-find::after {
    right: 30px;
    top: 20px;
  }
  header .menu {
    display: none;
  }
  #logIn {
    display: block;
  }
  .block-sm-find {
    display: block!important;
  }
}
@media screen and (max-width: 768px) {
  header .block-find {
    display: block;
    padding-top: 10px;
  }
  header .block-find img {
    width: 100%;
  }
  header .find .logos {
    display: none;
  }
  header .find .input-find {
    display: none;
  }
  header .use {
    text-align: center;
  }
  header .use #logIn {
    display: none;
  }
  header .use .images {
    text-align: center;
    width: 100%;
  }
  header .use .images .img {
    width: 100%;
  }
  header .use .images .img::after {
    font-size: 22px!important;
    width: 35px!important;
    height: 35px!important;
    right: -6px !important;
    top: 12px!important;
  }
  header .use .images .img:first-child {
    display: none;
  }
  header .use .images .img img {
    width: 60%;
  }
  header .block-sm-find {
    display: none!important;
  }
}
