* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/* fonts */
.sans {
  font-family: 'Open Sans', sans-serif;
}
.condensed {
  font-family: 'Open Sans Condensed', sans-serif;
}
h2 {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
/* grid */
.container {
  max-width: 90%;
  width: 1170px;
  margin: auto;
}
/* color */
/* elements */
img {
  max-width: 100%;
}
img.line {
  margin-bottom: 80px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.btn {
  background: linear-gradient(0deg, #ffb501 0%, #ffed26 100%);
  border: 1px solid #ffc600;
  border-radius: 7px ;
  padding: 30px 35px;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.form {
  background: #fff;
  border-radius: 8px;
  padding: 40px 50px 43px;
  max-width: 370px;
}
.form h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}
.form h3 span {
  font-size: 24px;
  text-transform: uppercase;
}
.form input {
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 7px;
  padding: 23px 0 23px 68px;
  margin-bottom: 20px;
  width: 100%;
}
.form .btn {
  width: 100%;
  margin-bottom: 20px;
}
.form p {
  color: #666666;
  font-size: 11px;
  text-align: center;
}
section {
  padding: 90px 0 80px;
}
/* head */
header {
  background: #fffffd;
  margin: 20px 0;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header img {
  max-width: 142px;
  max-height: 42px;
}
header .header p {
  color: #0096dc;
  max-width: 220px;
}
header .header .btn-header {
  background-image: url(../img/head/edit.png);
  background-repeat: no-repeat;
  background-position: left 13px center;
  border: 2px solid #55a831;
  border-radius: 7px;
  padding: 15px 17px 15px 54px;
  max-width: 170px;
  color: #55a831;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
header .header .btn-header:hover {
  cursor: pointer;
}
header .header .clock {
  background-image: url(../img/head/clock.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
}
header .header .clock p {
  color: #333333;
}
header .header .clock .time {
  font-size: 18px;
  font-weight: 600;
}
header .header .call {
  display: flex;
  flex-direction: column;
  background-image: url(../img/head/call.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 35px;
}
header .header .call a {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-size: 23px;
}
header .header .call .btn-call {
  background: #fff;
  color: #0096dc;
  font-size: 15px;
  text-decoration: underline;
  border: none;
}
.hero {
  background: url(../img/hero/background.png) center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.hero .hero-content {
  display: flex;
  justify-content: space-between;
}
.hero .hero-content h3 {
  color: #333333;
  font-size: 26px;
  font-weight: bold;
  max-width: 500px;
  margin-bottom: 130px;
  line-height: 2;
}
.hero .hero-content h3 span {
  font-size: 55px;
}
.hero .hero-content .icons {
  display: flex;
}
.hero .hero-content .icons .icon {
  background: #0096dc;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.hero .hero-content .icons .icon img {
  max-width: 50px;
  margin-bottom: 15px;
}
.hero .hero-content .icons .icon img.one {
  margin-bottom: 7px;
}
.hero .hero-content .icons .icon img.two {
  margin-left: -10px;
}
.hero .hero-content .icons .icon img.three {
  max-width: 42px;
}
.hero .hero-content .icons .icon p {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.hero .hero-content .form h3 {
  font-size: 20px;
  margin-bottom: 40px;
}
.hero .hero-content .form h3 span {
  font-size: 24px;
}
.type {
  text-align: center;
}
.type h2 {
  margin-bottom: 30px;
}
.type .collapse .buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.type .collapse .buttons .btn-collapse:focus {
  outline: none;
}
.type .collapse .buttons .btn-collapse:hover p {
  color: #333333;
  text-decoration: none;
}
.type .collapse .buttons .btn-collapse img {
  margin-bottom: 30px;
}
.type .collapse .buttons .btn-collapse p {
  font-size: 18px;
  font-weight: 600;
  color: #0096dc;
  text-decoration: underline;
  max-width: 150px;
}
.type .collapse .buttons .btn-collapse-active p {
  color: #333333;
  text-decoration: none;
}
.type .collapse .collapse-content {
  display: none;
  color: #000;
}
.type .collapse .collapse-content .collapse-content-description {
  display: flex;
  justify-content: center;
}
.type .collapse .collapse-content .collapse-content-description h4 {
  margin-bottom: 30px;
}
.type .collapse .collapse-content .collapse-content-description img {
  margin-bottom: 40px;
}
.type .collapse .collapse-content .collapse-content-description ul {
  list-style: none;
  padding: 0;
  margin-bottom: 45px;
}
.type .collapse .collapse-content .collapse-content-description ul p {
  padding-left: 40px;
  margin-bottom: 15px;
  text-align: left;
  position: relative;
}
.type .collapse .collapse-content .collapse-content-description ul p::after {
  position: absolute;
  content: "";
  background: url(../img/type/checked.png);
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
}
.type .collapse .collapse-content .collapse-content-description .type-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type .collapse .collapse-content .collapse-content-description .type-price p {
  line-height: 2;
}
.type .collapse .collapse-content .collapse-content-description .type-price p span {
  max-width: 160px;
  font-size: 20px;
  font-weight: bold;
}
.type .collapse .collapse-content .collapse-content-description .type-price .btn {
  padding-top: 25px;
  padding-bottom: 25px;
}
.type .collapse .collapse-content .cold {
  background: linear-gradient(0deg, #ffffff 0%, #e6f4fc 100%);
  border-top: 5px solid #0096dc;
  padding: 60px 35px 0 35px;
  position: relative;
}
.type .collapse .collapse-content .cold:before {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 auto;
  border: 7px solid transparent;
  border-top: 7px solid #0096dc;
}
.type .collapse .collapse-content .cold h4 {
  color: #0096dc;
}
.type .collapse .collapse-content .warm {
  background: linear-gradient(0deg, #ffffff 0%, #fff8e5 100%);
  border-top: 5px solid #ffc600;
  padding: 60px 35px 0 35px;
  position: relative;
}
.type .collapse .collapse-content .warm:before {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 auto;
  border: 7px solid transparent;
  border-top: 7px solid #ffc600;
}
.type .collapse .collapse-content .warm h4 {
  color: #ffc600;
}
.type .collapse .collapse-active {
  display: block;
}
.finish {
  background: #f7f7f7;
  text-align: center;
}
.finish h2 {
  margin-bottom: 30px;
}
.finish .finish-collapse .buttons {
  display: flex;
  justify-content: space-between;
}
.finish .finish-collapse .finish-btn-collapse p {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px dotted #000;
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
}
.finish .finish-collapse .finish-btn-collapse p:hover {
  color: #0096dc;
  border-bottom: none;
  cursor: pointer;
}
.finish .finish-collapse .finish-btn-collapse-active {
  background: linear-gradient(0deg, #f7f7f7 0%, #ebebeb 100%);
  border-top: 5px solid #0096dc;
  position: relative;
}
.finish .finish-collapse .finish-btn-collapse-active:before {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 auto;
  border: 7px solid transparent;
  border-top: 7px solid #0096dc;
}
.finish .finish-collapse .finish-btn-collapse-active p {
  padding-top: 40px;
  color: #0096dc;
  border-bottom: none;
}
.finish .finish-collapse .finish-collapse-content {
  display: none;
}
.finish .finish-collapse .finish-collapse-content .collapse-flex {
  display: flex;
  align-items: center;
  padding-top: 80px;
}
.finish .finish-collapse .finish-collapse-content .collapse-flex .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.finish .finish-collapse .finish-collapse-content .collapse-flex .items .item {
  flex-basis: 30%;
  margin: 35px 0;
  width: 100px;
}
.finish .finish-collapse .finish-collapse-content .collapse-flex .items .item img {
  margin-bottom: 15px;
}
.finish .finish-collapse .finish-collapse-content .collapse-flex .items .item h5 {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.finish .finish-collapse .finish-collapse-content .collapse-flex .items .item span {
  color: #0096dc;
  font-weight: bold;
  font-size: 14px;
}
.finish .finish-collapse .finish-collapse-content .collapse-flex .items .item p {
  font-size: 12px;
}
.finish .finish-collapse .finish-collapse-content-active {
  display: block;
}
.our-work {
  text-align: center;
}
.our-work h2 {
  margin-bottom: 30px;
}
.our-work .gallery {
  display: flex;
  flex-wrap: wrap;
}
.our-work .gallery .item {
  flex-basis: 25%;
}
.our-work .gallery .item img {
  margin: 0 30px 30px;
  width: 90%;
}
.guarantee {
  background: #0484c3;
  color: #fff;
  text-align: center;
}
.guarantee h2 {
  margin-bottom: 30px;
  color: #fff;
}
.guarantee .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.guarantee .items .item {
  flex-basis: 33%;
}
.guarantee .items .item img {
  margin-bottom: 30px;
}
.guarantee .items .item p {
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 180px;
}
.pay {
  text-align: center;
}
.pay h2 {
  text-transform: none;
  margin-bottom: 90px;
}
.pay .items {
  display: flex;
  justify-content: space-between;
}
.pay .items .item {
  display: flex;
  align-items: center;
}
.pay .items .item img {
  margin-right: 30px;
}
.pay .items .item p {
  font-size: 20px;
}
.promo {
  background: url(../img/promo/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.promo .promo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo .promo-content .promo-description h2 {
  font-size: 48px;
  color: #0096dc;
  font-weight: bold;
  margin-bottom: 80px;
}
.promo .promo-content .promo-description p {
  font-size: 24px;
  margin-bottom: 20px;
}
.promo .promo-content .promo-description #promo-end {
  margin-top: 80px;
  background: #fff;
  width: 260px;
  height: 160px;
  border: 1px solid #d1d1d1;
  border-radius: 7px;
  padding: 20px 23px 25px;
  text-align: center;
}
.promo .promo-content .promo-description #promo-end p {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.how-find {
  text-align: center;
}
.how-find h2 {
  margin-bottom: 30px;
}
.how-find .how-find-content {
  display: flex;
  justify-content: space-between;
}
.how-find .how-find-content .map {
  margin-right: 125px;
}
.how-find .how-find-content-description {
  text-align: left;
}
.how-find .how-find-content-description h6 {
  font-size: 15px;
  font-weight: 600;
  color: #0096dc;
  margin: 35px 0 18px;
}
.how-find .how-find-content-description h6:first-child {
  margin-top: 0;
}
.how-find .how-find-content-description p {
  font-size: 18px;
  font-weight: 600;
}
.how-find .how-find-content-description a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
.how-find .how-find-content-description .email {
  text-decoration: underline;
}
.question {
  background: #0484c3;
}
.question-content {
  display: flex;
  justify-content: center;
}
.question p {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin-right: 40px;
}
.question .btn-question {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
}
footer {
  padding: 35px 0;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content p {
  font-size: 15px;
}
footer .footer-content img {
  max-width: 140px;
}
footer .footer-content .contacts {
  text-align: right;
}
footer .footer-content a {
  display: block;
}
footer .footer-content a.tel {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
footer .footer-content a.email {
  color: #0096dc;
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.modal .form-modal {
  margin: auto;
  margin-top: 100px;
}
.modal .wrape {
  width: 500px;
  background: #fff;
  border-radius: 20px;
  margin: auto;
  margin-top: 300px;
  text-align: center;
  padding: 30px 0;
}
.hide {
  display: none;
}
/* responsive */
@media (max-width: 1270px) {
  .hero {
    background-position: left -500px center;
  }
}
@media (max-width: 1200px) {
  .hero {
    background-position: left center;
  }
}
@media (max-width: 1180px) {
  .finish .finish-collapse .finish-collapse-content .collapse-flex .items .item {
    flex-basis: 45%;
  }
  .finish .finish-collapse .finish-collapse-content .collapse-flex .items {
    flex-basis: 29%;
  }
}
@media (max-width: 1060px) {
  header .header .btn-header {
    background: none;
    padding-left: 17px;
    max-width: 120px;
  }
  header .header .clock {
    background: none;
    padding-left: 0;
  }
  header .header .call {
    background: none;
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  header .header p {
    max-width: 150px;
  }
  .finish .finish-img {
    display: none;
  }
  .finish .finish-collapse .finish-collapse-content .collapse-flex .items {
    flex-basis: 50%;
  }
  .our-work .gallery .item {
    flex-basis: 33%;
  }
  .how-find .how-find-content {
    justify-content: space-around;
  }
  .how-find .how-find-content .map {
    margin-right: 25px;
  }
  .form input {
    padding-left: 0;
    text-align: center;
  }
  .form .btn {
    width: 100%;
    margin-bottom: 20px;
  }
  .form p {
    color: #666666;
    font-size: 11px;
    text-align: center;
  }
}
@media (max-width: 960px) {
  section {
    padding: 50px 0;
  }
  img.line {
    margin-bottom: 50px;
  }
  .hero {
    padding: 50px 0;
  }
  .hero .hero-content {
    flex-wrap: wrap;
  }
  .hero .hero-content .hero-description {
    margin: auto;
  }
  .hero .hero-content .hero-description h3 {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .hero .hero-content .form {
    margin: auto;
  }
  .hero .hero-content .icons {
    display: none;
  }
  .pay h2 {
    margin-bottom: 50px;
  }
  .question {
    text-align: center;
  }
  .question-content {
    display: block;
  }
  .question p {
    display: block;
  }
  .question .btn-question {
    display: block;
    margin: auto;
  }
  iframe {
    width: 400px;
    height: 470px;
  }
}
@media (max-width: 900px) {
  iframe {
    display: none;
  }
  .pay {
    display: none;
  }
}
@media (max-width: 900px) {
  .btn {
    padding: 15px;
    font-size: 18px;
  }
  .form h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .form h3 span {
    font-size: 20px;
  }
  .form input {
    padding: 10px;
  }
  header .header .btn-header {
    display: none;
  }
  .hero .hero-content {
    display: block;
  }
  .hero .hero-content h3 {
    font-size: 20px;
    margin: auto;
    text-align: center;
  }
  .hero .hero-content h3 span {
    font-size: 30px;
  }
  .finish {
    background: #f7f7f7;
    text-align: center;
  }
  .finish h2 {
    margin-bottom: 30px;
  }
  .finish .finish-collapse .finish-btn-collapse p {
    font-size: 16px;
  }
  .finish .finish-collapse .finish-collapse-content .collapse-flex {
    display: block;
    padding-top: 40px;
  }
  .finish .finish-collapse .finish-collapse-content .collapse-flex .items {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .finish .finish-collapse .finish-collapse-content .collapse-flex .form {
    margin: auto;
  }
  .finish .finish-collapse .finish-collapse-content-active {
    display: block;
  }
}
@media (max-width: 800px) {
  .type {
    text-align: center;
  }
  .type h2 {
    margin-bottom: 30px;
  }
  .type .collapse .buttons .btn-collapse p {
    color: #333333;
    text-decoration: none;
  }
  .type .collapse .collapse-active {
    display: none;
  }
}
@media (max-width: 720px) {
  header .header .clock {
    display: none;
  }
  .our-work .gallery .item {
    flex-basis: 50%;
  }
  .type .collapse .buttons {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .type .collapse .buttons .btn-collapse {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  .finish .finish-collapse .finish-btn-collapse p {
    font-size: 14px;
  }
  .finish .finish-collapse .finish-collapse-content .collapse-flex .items .item h5 {
    font-size: 12px;
  }
  .promo .promo-content .promo-description h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .promo .promo-content .promo-description #promo-end {
    margin-top: 30px;
  }
  .promo {
    background-position-x: left;
    background-size: cover;
  }
  .promo .form {
    display: none;
  }
}
@media (max-width: 650px) {
  .finish {
    display: none;
  }
  section {
    padding: 20px 0;
  }
  header p {
    display: none;
  }
  .our-work .gallery .item img {
    margin: 0 20px 20px;
  }
  footer .footer-content img {
    display: none;
  }
}
@media (max-width: 500px) {
  .guarantee .items .item {
    flex-basis: 50%;
  }
  .promo {
    background-position-x: center;
  }
  .our-work .gallery .item {
    flex-basis: 100%;
  }
}
@media (max-width: 400px) {
  .btn {
    padding: 10px;
    font-size: 14px;
  }
  header .header .call {
    display: none;
  }
  .hero .hero-content .form h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .hero .hero-content .form h3 span {
    font-size: 18px;
  }
  section {
    padding: 10px 0;
  }
  footer {
    background: #f7f7f7;
  }
  footer .footer-content .contacts {
    display: none;
  }
  .question {
    display: none;
  }
  .guarantee .items .item {
    flex-basis: 45%;
  }
}
